global:
  scrape_interval:     15s
  scrape_timeout:      10s
scrape_configs:
  - job_name: telegraf
    metrics_path: /metrics
    static_configs:
    - targets:
      - "telegraf:9273"

# Prometheus configuration for Pure Storage FlashArray1

  - job_name: 'purestorage-fa1'
    metrics_path: /metrics/array
    authorization:
      credentials: bc3ad32a-2ee7-45f2-e207-410f33dcf000
    static_configs:
    - targets: ['sn1-x90r2-f06-33.puretec.purestorage.com']
      labels:
        location: US
        site: TestSite
        instance: FlashArray1
        env: 'Test Lab'

  - job_name: 'purestorage-fa1_volumes'
    metrics_path: /metrics/volumes
    authorization:
      credentials: bc3ad32a-2ee7-45f2-e207-410f33dcf000
    static_configs:
    - targets: ['sn1-x90r2-f06-33.puretec.purestorage.com']
      labels:
        location: US
        site: TestSite
        instance: FlashArray1
        env: 'Test Lab'

  - job_name: 'purestorage-fa1_hosts'
    metrics_path: /metrics/hosts
    authorization:
      credentials: bc3ad32a-2ee7-45f2-e207-410f33dcf000
    static_configs:
    - targets: ['sn1-x90r2-f06-33.puretec.purestorage.com']
      labels:
        location: US
        site: TestSite
        instance: FlashArray1
        env: 'Test Lab'

# For FlashArray2
  - job_name: 'purestorage-fa2'
    metrics_path: /metrics/array
    authorization:
      credentials: 0ec6e273-6c80-a458-70e3-9dffd980e77e
    static_configs:
    - targets: ['sn1-x90r2-f07-27.puretec.purestorage.com']
      labels:
        location: US
        site: TestSite
        instance: FlashArray2
        env: 'Test Lab'

  - job_name: 'purestorage-fa2_volumes'
    metrics_path: /metrics/volumes
    authorization:
      credentials: 0ec6e273-6c80-a458-70e3-9dffd980e77e
    static_configs:
    - targets: ['sn1-x90r2-f07-27.puretec.purestorage.com']
      labels:
        location: US
        site: TestSite
        instance: FlashArray2
        env: 'Test Lab'

  - job_name: 'purestorage-fa2_hosts'
    metrics_path: /metrics/hosts
    authorization:
      credentials: 0ec6e273-6c80-a458-70e3-9dffd980e77e
    static_configs:
    - targets: ['sn1-x90r2-f07-27.puretec.purestorage.com']
      labels:
        location: US
        site: TestSite
        instance: FlashArray2
        env: 'Test Lab'

# For FlashArray3
  - job_name: 'purestorage-fa3'
    metrics_path: /metrics/array
    authorization:
      credentials: 6a20f30a-2c4b-90eb-ada3-bcae602637a8
    static_configs:
    - targets: ['sn1-x90r2-f06-27.puretec.purestorage.com']
      labels:
        location: US
        site: TestSite
        instance: FlashArray3
        env: 'Test Lab'

  - job_name: 'purestorage-fa3_volumes'
    metrics_path: /metrics/volumes
    authorization:
      credentials: 6a20f30a-2c4b-90eb-ada3-bcae602637a8
    static_configs:
    - targets: ['sn1-x90r2-f06-27.puretec.purestorage.com']
      labels:
        location: US
        site: TestSite
        instance: FlashArray3
        env: 'Test Lab'

  - job_name: 'purestorage-fa3_hosts'
    metrics_path: /metrics/hosts
    authorization:
      credentials: 6a20f30a-2c4b-90eb-ada3-bcae602637a8
    static_configs:
    - targets: ['sn1-x90r2-f06-27.puretec.purestorage.com']
      labels:
        location: US
        site: TestSite
        instance: FlashArray3
        env: 'Test Lab'

# For FlashArray4
  - job_name: 'purestorage-fa4'
    metrics_path: /metrics/array
    authorization:
      credentials: 492fe998-a261-2ea9-3dd4-619619901ff5
    static_configs:
    - targets: ['sn1-c60-e12-16.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray4
        env: 'Test Lab'

  - job_name: 'purestorage-fa4_volumes'
    metrics_path: /metrics/volumes
    authorization:
      credentials: 492fe998-a261-2ea9-3dd4-619619901ff5
    static_configs:
    - targets: ['sn1-c60-e12-16.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray4
        env: 'Test Lab'

  - job_name: 'purestorage-fa4_hosts'
    metrics_path: /metrics/hosts
    authorization:
      credentials: 492fe998-a261-2ea9-3dd4-619619901ff5
    static_configs:
    - targets: ['sn1-c60-e12-16.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray4
        env: 'Test Lab'

# For FlashArray5
  - job_name: 'purestorage-fa5'
    metrics_path: /metrics/array
    authorization:
      credentials: f9bbf155-e76e-0114-c47c-e772cb1e782d
    static_configs:
    - targets: ['sn1-x90r2-f05-27.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray5
        env: 'Test Lab'

  - job_name: 'purestorage-fa5_volumes'
    metrics_path: /metrics/volumes
    authorization:
      credentials: f9bbf155-e76e-0114-c47c-e772cb1e782d
    static_configs:
    - targets: ['sn1-x90r2-f05-27.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray5
        env: 'Test Lab'

  - job_name: 'purestorage-fa5_hosts'
    metrics_path: /metrics/hosts
    authorization:
      credentials: f9bbf155-e76e-0114-c47c-e772cb1e782d
    static_configs:
    - targets: ['sn1-x90r2-f05-27.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray5
        env: 'Test Lab'

# For FlashArray6
  - job_name: 'purestorage-fa6'
    metrics_path: /metrics/array
    authorization:
      credentials: 1c1468ff-183c-07b4-98d3-e4798c45ce70
    static_configs:
    - targets: ['sn1-x90r2-f05-33.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray6
        env: 'Test Lab'

  - job_name: 'purestorage-fa6_volumes'
    metrics_path: /metrics/volumes
    authorization:
      credentials: 1c1468ff-183c-07b4-98d3-e4798c45ce70
    static_configs:
    - targets: ['sn1-x90r2-f05-33.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray6
        env: 'Test Lab'

  - job_name: 'purestorage-fa6_hosts'
    metrics_path: /metrics/hosts
    authorization:
      credentials: 1c1468ff-183c-07b4-98d3-e4798c45ce70
    static_configs:
    - targets: ['sn1-x90r2-f05-33.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray6
        env: 'Test Lab'

# For FlashArray7
  - job_name: 'purestorage-fa7'
    metrics_path: /metrics/array
    authorization:
      credentials: 5c8f0a4f-92bd-7cb7-9bcd-a7e6b5f471fe
    static_configs:
    - targets: ['slc6-c60-n3-b35-09.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray7
        env: 'Test Lab'

  - job_name: 'purestorage-fa7_volumes'
    metrics_path: /metrics/volumes
    authorization:
      credentials: 5c8f0a4f-92bd-7cb7-9bcd-a7e6b5f471fe
    static_configs:
    - targets: ['slc6-c60-n3-b35-09.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray7
        env: 'Test Lab'

  - job_name: 'purestorage-fa7_hosts'
    metrics_path: /metrics/hosts
    authorization:
      credentials: 5c8f0a4f-92bd-7cb7-9bcd-a7e6b5f471fe
    static_configs:
    - targets: ['slc6-c60-n3-b35-09.fsa.lab']
      labels:
        location: US
        site: TestSite
        instance: FlashArray7
        env: 'Test Lab'
